.title {
  text-align: center;
  padding-top: 2rem;
}

.titleDescription {
  margin: auto;
  width: 75%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.pAbout {
  width: 75%;
  margin: auto;
  text-align: center;
}

.scrollContainer {
  justify-content: start;
  margin-top: 1rem;
  padding: 1rem;
}

.frontImg {
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .titleDescription {
    width: 100%;
  }

  .pAbout {
    width: 100%;
    font-size: 1rem;
  }
}
