.butcheryItem:hover {
  z-index: 2;
  transform: scale(1.1) !important;
}

.butcheryItem {
  transition: all 0.28s ease-in-out;
}

@media screen and (max-width: 768px) {
  .butcheryH1 {
    font-size: 3rem;
  }
  .butcheryH2 {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
