/* @import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kanit:wght@300&family=Poppins:wght@300&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=El+Messiri&family=Kanit:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://unpkg.com/react-pdf/dist/page/AnnotationLayer.css");
@import url("https://unpkg.com/react-pdf/dist/page/TextLayer.css"); */

body {
  color: #060503;
  font-family: "El Messiri", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../public/assets/bkground.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.link {
  text-decoration: none;
}

.btn-warning {
  background-color: #ddaf5a;
}
.btn-warning:hover {
  background-color: #7d5331;
}

.descriptionBorders {
  padding: 0.5rem;
  border: 2px solid #f3deb6;
  border-radius: 10px;
}

.bordersBottom {
  border-bottom: 2px solid #ddaf5a;
  border-radius: 10px;
}

.borderBottom {
  border-bottom: 4px solid#ddaf5a;
  border-radius: 10px;
}

.nav-link {
  z-index: 1;
}

button.active {
  background: black;
}

/* NAV-TABS MENU SECTION */
button.nav-link {
  border-width: 1.5px 1.5px 0 1.5px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 10px !important;
  border-style: solid !important;
  border-color: #ddaf5a !important;
}

button.nav-link.active {
  color: #373636 !important;
  background-color: #edd0b3 !important;
}

/* PDF CONTAINER */
/* .react-pdf__Page {
  background-image: url("../../public/assets/Logo-Home.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-color: black !important;
} */

/* DISPLAYED PDF */
/* .react-pdf__Page__canvas { */
/* margin: auto; */
/* width: 100% !important;
  height: auto !important;
} */

/* pdfContent */
.pdfContent {
  height: calc(100vh - 50px);
}

@media screen and (max-width: 1150px) {
  body {
    background-image: url("../../public/assets/bgphoneview.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center center;
  }
  /* .react-pdf__Page__canvas {
    margin: auto;
    width: 100% !important;
    height: auto !important;
  }

  .react-pdf__Page {
    width: 80%;
    height: auto;
  } */
}
