.fixedButton {
  z-index: 4;
  position: fixed;
  top: 10%;
  right: 10%;
  width: 10%;
}

.fixedButton h3 {
  font-size: 1rem;
}

.fixedButton h3:hover {
  border: 2px solid #b38203;
  background-color: #b38203;
  scale: 1.1;
}

.sides-container {
  top: 10%;
  right: 10%;
  width: 100%;
}

.closeButton {
  position: absolute;
  width: 10%;
  top: 2%;
  right: 3%;
  z-index: 1;
  cursor: pointer;
}

.sidesImage {
  position: fixed;
  right: 1%;
}

.menuImagesContainer {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .sidesButton {
    width: 10%;
  }

  .sides-container {
    width: 30%;
  }

  .closeButton {
    width: 10px;
  }
  .heightSetting {
    min-height: 100vh;
  }
}
