.fixedButton {
  z-index: 4;
  position: fixed;
  bottom: 50%;
  right: 0%;
  width: 10%;
}

.sides-button {
  width: 25%;
  background-color: #ffc107;
  color: #000000;
}

.fixedButton button {
  font-size: 1rem;
}

.fixedButton button:hover {
  border: 2px solid #ffc107;

  background: #e2a406;
  transition: ease-in-out 300ms;
  scale: 1.05;
}

.closeButton {
  position: absolute;
  width: min-content;
  height: 1.5rem;
  top: 5%;
  right: 40%;
  color: #ffc107 !important;
  z-index: 1;
  cursor: pointer;
}

.sidesImage {
  position: fixed;
  right: 34%;
}

.menuImagesContainer {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .sides-button {
    margin-right: 1.35rem;
    width: 100%;
    background-color: #ffc107;
    color: #000000;
  }
  .sidesImage {
    position: relative;
    width: 150px !important;
    height: 150px !important;
    left: -300%;
    bottom: 50%;
  }

  .fixedButton {
    bottom: 50%;
    right: -5%;
  }

  .sides-container {
    position: absolute;
    height: auto;
    bottom: 50%;
    width: 100%;
  }

  .closeButton {
    width: 100%;
    top: 1%;
    left: -300%;
  }
  .heightSetting {
    min-height: 100vh;
  }

  .menuImages {
    width: 380px !important;
    height: 550px !important;
  }
}
