.fixedButton {
  z-index: 4;
  position: fixed;
  bottom: 50%;
  right: 0%;
  width: 10%;
}

.fixedButton button {
  font-size: 1rem;
}

.fixedButton button:hover {
  border: 2px solid #b38203;

  background: #8e6808;
  scale: 1.1;
}

.closeButton {
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: 1;
  cursor: pointer;
}

.sidesImage {
  position: fixed;
  right: 34%;
}

.menuImagesContainer {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .sidesButton {
    width: 5%;
  }

  .sidesImage {
    position: relative;
    width: 150px !important;
    height: 150px !important;
    left: -300%;
    bottom: 50%;
  }

  .fixedButton {
    bottom: 50%;
    right: -5%;
  }

  .sides-container {
    position: absolute;
    height: auto;
    bottom: 50%;
    width: 100%;
  }

  .closeButton {
    width: 100%;
    top: 1%;
    left: -300%;
  }
  .heightSetting {
    min-height: 100vh;
  }

  .menuImages {
    width: 380px !important;
    height: 550px !important;
  }
}
